{% extends 'base.html' %}

{% block content %}
<div class="bg-dark text-light width-100">
    <div class="row">
        <!-- Sidebar -->
        <nav id="sidebar" class="col-md-4 col-lg-3 d-md-block sidebar collapse">
            <div class="position-sticky pt-3">
                <div class="text-center mb-4">
                    <h4 class="text-primary fw-bold">FitTracker</h4>
                </div>
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link {% if active_page == 'dashboard' %}active{% endif %}" href="{{ url_for('dashboard.index') }}">
                            <i class="fas fa-tachometer-alt me-2"></i>
                            Dashboard
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if active_page == 'goals' %}active{% endif %}" href="{{ url_for('dashboard.goals') }}">
                            <i class="fas fa-bullseye me-2"></i>
                            Goals
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if active_page == 'activities' %}active{% endif %}" href="{{ url_for('dashboard.achievements') }}">
                            <i class="fa-solid fa-trophy me-2"></i>
                            Achievements
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if active_page == 'leaderboard' %}active{% endif %}" href="{{ url_for('dashboard.leaderboard') }}">
                            <i class="fa-solid fa-ranking-star me-2"></i>
                            leaderboard
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if active_page == 'profile' %}active{% endif %}" href="{{ url_for('dashboard.profile') }}">
                            <i class="fas fa-user me-2"></i>
                            Profile
                        </a>
                    </li>
                </ul>
                <hr>
                <div class="px-3 mt-4">
                    <a href="{{ url_for('auth.sign_out') }}" class="btn btn-outline-danger btn-sm w-100">
                        <i class="fas fa-sign-out-alt me-2"></i> Logout
                    </a>
                </div>
            </div>
        </nav>

        <!-- Main Content -->
        <main class="col-md-8 ms-sm-auto col-lg-9 px-md-4 width-100">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <h1 class="h2">{% block dashboard_title %}Dashboard{% endblock %}</h1>
                <div class="btn-toolbar mb-2 mb-md-0">
                    {% block header_buttons %}{% endblock %}
                </div>
            </div>

            <!-- Main content -->
            {% block dashboard_content %}{% endblock %}
        </main>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script src="https://kit.fontawesome.com/e7869a2e4f.js" crossorigin="anonymous"></script>
{% block dashboard_scripts %}{% endblock %}
{% endblock %}